/* Navigation */

body {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
}

.container {
  width: 904px;
  margin: 0px auto;
}

a {
  text-decoration: none;
}

h2 {
  color: #626262;
  font-size: 30px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}

.nav-li {
  display: inline-block;
  margin-right: 100px;
  text-transform: uppercase;
  font-family: "Playfair Display";
  font-weight: 500;
  padding-top: 70px;
  padding-bottom: 103px;
}

.nav-li a {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.nav {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-li:last-child {
  margin-right: 0px;
}

a:hover {
  color: #03a9f4;
}

/* Main */

.article-item {
  width: 420px;
  display: inline-block;
  margin-right: 56px;
  margin-bottom: 130px;
}

.article-item:nth-child(even) {
  margin-right: 0;
}

.article-item:nth-child(n + 5) {
  margin-bottom: 0;
}

.article-title {
  color: #b4ad9e;
  font-family: Ubuntu;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}

.article-text {
  color: #626262;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Playfair Display", serif;
}

.button {
  text-align: center;
  padding-top: 54px;
  padding-bottom: 54px;
}

.button-load:hover {
  background-color: #999999;
  color: #ffffff;
}

.button-load {
  padding: 22px 34px;
  font-family: "Playfair Display", serif;
  background-color: white;
  border: 1px solid black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

/*
font-family: "Ubuntu", sans-serif;
font-family: "Playfair Display", serif;
*/
