/* Navigation */

body {
  background-color: white;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.nav-li {
  display: inline-block;
  margin-right: 100px;
}

.nav {
  text-align: center;
}

/* Main */

.article-item {
  width: 420px;
  display: inline-block;
  margin-right: 56px;
}

.article-item:nth-child(even) {
  margin-right: 0;
}

.knopka {
  text-align: center;
}
